<%- include('header') %>
<div class="col-md-12 mt-5">
    <h4 style="text-align: center;margin-top: 20px;">Add Password Category</h4>
    <div class="row">
        <div class="col-md-4 mx-auto" style="background-color: #cce1ff;border-radius: 10px;">
            <% if(msg !='') { %>
                <p style="font-weight: bolder;"><%= msg %></p>
            <% } %>    
            <form action="/add-password-category" method="POST">
            <div class="form-group mt-3">
                <label for="exampleInputEmail1">Category</label>
                <input type="text" name="category" class="form-control" id="exampleInputEmail1"  aria-describedby="emailHelp" placeholder="Enter password category">
                <% if(errors != '') {%>
                    <p style="color: red;font-weight: bolder;"><%= errors.category.msg %></p>
                <% } %>    
            </div>
            <center><button type="submit" class="btn btn-primary mb-3">Submit</button></center>
            </form>
            <a href="/view-password-category">View All Categories</a>
        </div>
    </div>
</div>
<%- include('footer') %>